html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* Basic styles */
body {
  font-family:'Open Sans', sans-serif;
  font-size: 1em;
  background-color: white;
  margin: 0;
}

h1, h2, h3, h4, h4, h6 {
  margin: 0;
}

h3, h4, h5, h6 {
  width: 100%;
  font-family: 'Alike', sans-serif;
  line-height: 1.5;
}

h1 {
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  line-height: 1.5;
  font-size: 1.75rem;
  width: 100%;
}

h2 {
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}

h3 {
  color: #453E4F;
  font-size: 1.75rem;
  font-family: 'Alike', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

h4 {
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  font-size: 1.25rem;
  margin: 0 0 40px 0;
}

p {
  color: #453E4F;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

figure {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

img {
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
}

header, #work, #skills, #about, footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

span {
  font-weight: bold;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  background-color: transparent;
}

/***** HEADER *****/
header {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #F19494;
}

header .content-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 85%;
}

div {
  display: block;
}

nav {
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

li {
  display: list-item;
}

header nav ul li  {
  font-size: .75rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul li a {
  font-size: .75rem;
  text-decoration: none;
  color: #453E4F;
  background-color: transparent;
}

nav #contact-link {
  background-color: #FFE8D6;
  padding: 10px 10px;
  border-radius: 30px;
}

header h1 {
  width: 100%;
}

header h2 {
  width: 100%;
  margin-top: 60px;
}


/***** PROJECTS *****/
main {
  display: block;
}

article {
  display: block;
}

#projects {
  padding-top: 60px;
  width: 100%;
}

#projects #skills {
  width: 100%;
}

#projects .content-wrapper{
  width: 85%;
}

.projects-header{
  text-align: center;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.portfolio-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.portfolio-piece figure {
  width: 100%;
  filter: drop-shadow(1px 2px 6px lightgrey);
}

.portfolio-piece h4 {
  font-weight: bold;
  text-align: center;
}

.project-description {
  margin: 0 0 30px 0;
}

#projects p, #about p {
  width: 100%;
  text-align: left;
}

.project-link {
  background-color: #453E4F;
  padding: 0.75rem 3.75rem;
  border-radius: 30px;
  color: #FFFFFF;
  margin: 40px 0 60px 0;
  text-transform: uppercase;
  font-size: 1.125rem;
}

/***** SKILLS *****/
#skills {
  background-color: #F19494;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}


/***** ABOUT *****/
footer {
  background-color: #F19494;
}
/***** CONTACT *****/

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /********** TABLET STYLES **********/
@media only screen and (min-width: 768px) {
/***** GENERAL *****/
.content-wrapper {
  max-width: 640px;
}


/*.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

.title {
  text-align: center;
}

h1 {
  margin: 0;
}

.portfolio-piece {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio-piece img {
  width: 100%;
}

.project-descripton {
  margin-top: 10px;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Media queries */
/*@media screen and (max-width: 767px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 10px;
    margin-right: 0;
  }
}*/