html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* Basic styles */
body {
  font-family:'Alike', sans-serif;
  font-size: 1em;
  background-color: white;
  margin: 0;
}

h1 {
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  padding-bottom: 30px;
  line-height: 1.5;
  font-size: 1.75rem;
}

h2 {
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}

h3 {
  color: #453E4F
  font-size: ;
  font-family: 'Alike', sans-serif;
  margin-top: ;
  margin-bottom: ;
}

h4 {
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  font-size: ;
  margin-bottom: ;
}

p {
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  font-weight: ;
  line-height: ;
  margin: ;
}

figure {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

img {
  max-width: 100%;
}

/***** HEADER *****/
header {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #F19494;
}

header .content-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 85%;
}

div {
  display: block;
}

nav {
  display: block;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li  {
  font-size: .75rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #453E4F;
  font-family: 'Alike', sans-serif;
  line-height: 1.5;
  display: list-item;
  justify-content: space-around;
}

header h1 {
  width: 100%;
}

/***** PROJECTS *****/

/***** SKILLS *****/

/***** ABOUT *****/

/***** CONTACT *****/

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /********** TABLET STYLES **********/
   


/*.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

.title {
  text-align: center;
}

h1 {
  margin: 0;
}

.portfolio-piece {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio-piece img {
  width: 100%;
}

.project-descripton {
  margin-top: 10px;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Media queries */
/*@media screen and (max-width: 767px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 10px;
    margin-right: 0;
  }
}*/